<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      let pjax_manager = new PJAXManager();
    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div data-pjax-container>
      <%= yield %>
      <div>
        <a data-glazziq-container='#glazziq-replace' href="/articles/new">XXXX</a>
        <a data-glazziq-container href="https://www.google.com">Go to Google</a>
      </div>
      <div id="glazziq-replace">
        <h1>Hello</h1>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
